.image-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.enlarge-image {
    transition: transform 0.2s;
}

.enlarge-image:hover {
    transform: scale(1.2);
}